# Configundando o MySQL

In [1]:
with open('../mysql_user.txt', 'r') as file:
    file_content = file.readlines()

In [ ]:
import mysql.connector

# create conection object
cnx = mysql.connector.connect(
    host=file_content[0],
    user=file_content[1],
    password=file_content[2]
)

print(cnx)

In [3]:
# create a cursor
cursor = cnx.cursor()

### Criando um banco de dados

In [4]:
cursor.execute('create database if not exists dbproducts;')

In [ ]:
cursor.execute('show databases;')

for db in cursor:
    print(db)

### Criando Tabela

#### Descobrindo as Propriedades da Tabela

In [6]:
import pandas as pd

books_df = pd.read_csv('../data-processed/book_table.csv')

In [ ]:
books_df.shape

#### Criando a tabela

In [8]:
cursor.execute("""
               create table if not exists dbproducts.books_table(
                    id VARCHAR(100),
                    product VARCHAR(100),
                    product_category VARCHAR(100),
                    price FLOAT(10,2),
                    shipping_fee FLOAT(10,2),
                    purchase_date DATE,
                    seller VARCHAR(100),
                    place_of_purchase VARCHAR(100),
                    purchase_evaluation INT,
                    payment_type VARCHAR(100),
                    number_of_installments INT,
                    latitude FLOAT(10,2),
                    longitude FLOAT(10,2),
                    
                    primary key (id)
               );
               """)

In [9]:
cursor.execute('use dbproducts;')

In [10]:
cursor.execute('show tables;')

In [ ]:
for table in cursor:
    print(table)

### Inserindo Dados

In [ ]:
for i, row in books_df.iterrows():
    print(tuple(row))

In [13]:
data_list = [tuple(row) for i, row in books_df.iterrows()]

In [ ]:
sql = 'INSERT INTO dbproducts.books_table (id, latitude, longitude, number_of_installments, payment_type, place_of_purchase, price, product, product_category, purchase_evaluation, seller,shipping_fee, purchase_date) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s)' 

cursor.executemany(sql, data_list)
cnx.commit()

In [ ]:
print(cursor.rowcount, 'dados inseridos')

### Criando segunda tabela

In [16]:
cursor.execute(
    """
    CREATE TABLE IF NOT EXISTS dbproducts.products_sales_2021_present(
        id VARCHAR(100),
        product VARCHAR(100),
        product_category VARCHAR(100),
        price FLOAT(10,2),
        shipping_fee FLOAT(10,2),
        purchase_date DATE,
        seller VARCHAR(100),
        place_of_purchase VARCHAR(100),
        purchase_evaluation INT,
        payment_type VARCHAR(100),
        number_of_installments INT,
        latitude FLOAT(10,2),
        longitude FLOAT(10,2),
        
        primary key (id)
    );
    """
)

In [ ]:
cursor.execute('show tables;')

for table in cursor:
    print(table)

In [ ]:
sales_data = pd.read_csv('../data-processed/products_sales_2021_present.csv')

sales_data.drop('Unnamed: 0', axis='columns', inplace=True)

sales_data.head()

In [ ]:
sales_data.shape

In [33]:
sales_list = [tuple(row) for index, row in sales_data.iterrows()]

In [ ]:
for index, row in sales_data.iterrows():
    print(tuple(row))

In [37]:
sql = 'INSERT INTO dbproducts.products_sales_2021_present (id, latitude, longitude, number_of_installments, payment_type, place_of_purchase, price, product, product_category, purchase_evaluation, seller,shipping_fee, purchase_date) VALUES (%s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s, %s);'

cursor.executemany(sql, sales_list)
cnx.commit()

In [ ]:
print(cursor.rowcount, 'dados inseridos')

# Visualizando Dados

In [ ]:
cursor.execute(
    """
    SELECT
        *
    FROM dbproducts.books_table
    """
)

In [ ]:
for row in cursor:
    print(row)

In [45]:
cursor.close()
cnx.close()